.price-cards {
  display: flex;
  justify-content: space-between;
  height: 770px;
  width: 1176px;
}

.price-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 770px;
  background-color: rgb(51, 66, 71);
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.09);
  position: relative;
  overflow: hidden;
}
.price-card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 133px;
}
.price-card:nth-child(2) .price-card__title, .price-card:last-child .price-card__title {
  height: 133px;
}
.price-card:nth-child(2) .price-card__button, .price-card:last-child .price-card__button {
  height: 116px;
}
.price-card__price-green {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 105px;
  background-color: rgb(91, 177, 137);
}
.price-card__price-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 105px;
  background-color: rgb(58, 107, 165);
}
.price-card__price-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 105px;
  background-color: rgb(236, 99, 42);
}
.price-card__description {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 116px;
  width: 327.5px;
}
.price-card__options-list {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 300px;
  margin: 0;
  padding: 0;
}
.price-card__options-list_item {
  display: flex;
  align-items: center;
  width: 380px;
  height: 50px;
}
.price-card__options-list_item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 50px;
}
.price-card__options-list_item-img-icon {
  width: 15px;
  height: 13px;
}
.price-card__options-list_item:nth-child(odd) {
  background-color: rgba(42, 52, 56, 0.4998250902);
}
.price-card__options-list_item:nth-child(even) {
  background-color: rgba(31, 61, 99, 0.0001);
}
.price-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 116px;
  width: 380px;
}
.price-card__button:hover {
  cursor: pointer;
}
.price-card__order-btn-green {
  background-color: rgb(91, 177, 137);
  width: 154.628px;
  height: 40px;
  border-radius: 20px;
  border: none;
}
.price-card__order-btn-blue {
  background-color: rgb(58, 107, 165);
  width: 154.52px;
  height: 40px;
  border-radius: 20px;
  border: none;
}
.price-card__order-btn-orange {
  background-color: rgb(236, 99, 42);
  width: 154.868px;
  height: 40px;
  border-radius: 20px;
  border: none;
}

.flag {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: #dc3f45;
  transform: rotate(45deg);
  height: 25px;
  width: 147px;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  top: 30px;
  right: -30px;
}

html {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 100vh;
  background-color: rgb(20, 27, 28);
}

.title-text-type {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
}

.subtitle-text-type {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

.amount-text-type {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main-text-type {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.order-text-type {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*# sourceMappingURL=styles.css.map */
