@import './variables.scss';

.price-cards {
    height: 770px;
    width: 1176px;
    display: flex;
    justify-content: space-between;
}

.price-card {
    width: 380px;
    height: 770px;
    background-color: $backgraund-price-card;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.09);
    position: relative;
    overflow: hidden;
}

.flag {
    background-color: $backgraund-red;
    width: 147.078px;
    height: 25.013px;
    transform: rotate(45deg);
    position: absolute;
    right: -30px;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.price-card__title {
    width: 380px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-card:last-child .price-card__title {
    height: 133px;
}

.price-card__price-green {
    width: 380px;
    height: 105px;
    background-color: $backgraund-green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-card__price-blue {
    width: 380px;
    height: 105px;
    background-color: $backgraund-blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-card__price-orange {
    width: 380px;
    height: 105px;
    background-color: $backgraund-orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-card__description {
    height: 116px;
    width: 327.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-card__options-list {
    width: 380px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.price-card__options-list_item {
    width: 380px;
    height: 50px;
    display: flex;
    align-items: center;
}

.price-card__options-list_item-img {
    width: 59px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-card__options-list_item-img-icon {
    width: 15px;
    height: 13px;
}

.price-card__options-list_item:nth-child(odd) {
    background-color: $backgraund-darker-price-card;
}

.price-card__options-list_item:nth-child(even) {
    background-color: $backgraund-lighted-price-card;
} 

.price-card__button {
    height: 119px;
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-card:last-child .price-card__button {
    height: 116px;
}

.price-card__order-btn-green {
    background-color: $backgraund-green;
    width: 154.628px;
    height: 40px;
    border-radius: 20px;
    border: none;
}

.price-card__order-btn-blue {
    background-color: $backgraund-blue;
    width: 154.52px;
    height: 40px;
    border-radius: 20px;
    border: none;
}

.price-card__order-btn-orange {
    background-color: $backgraund-orange;
    width: 154.868px;
    height: 40px;
    border-radius: 20px;
    border: none;
}