@import './variables.scss';

.price-cards {
    display: flex;
    justify-content: space-between;
    height: 770px;
    width: 1176px;
}

.price-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: 770px;
    background-color: $background-price-card;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.09);
    position: relative;
    overflow: hidden;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 380px;
        height: 133px;
    }

    &__title {
        color: $text-color;
        text-align: center;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 43px;
    }

    &__subtitle {
        color: $text-color;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
    }

    &:nth-child(2) .price-card__header,
    &:last-child .price-card__header {
        height: 133px;
    }

    &:nth-child(2) .price-card__button,
    &:last-child .price-card__button {
        height: 116px;
    }

    &__price {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 380px;
        height: 105px;

        &_green {
            background-color: $background-green;
        }

        &_blue {
            background-color: $background-blue;
        }

        &_orange {
            background-color: $background-orange;
        }
    }

    &__description {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 116px;
        width: 327.5px;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 116px;
        width: 380px;
    }

    &__order-btn {
        width: 154px;
        height: 40px;
        border-radius: 20px;
        border: none;

        &_green {
            background-color: $background-green;
        }

        &_blue {
            background-color: $background-blue;
        }

        &_orange {
            background-color: $background-orange;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.flag {
    position: absolute;
    color: $text-color;
    background-color: #dc3f45;
    transform: rotate(45deg);
    height: 25px;
    width: 147px;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    top: 30px;
    right: -30px;
}

.options-list {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 300px;
    margin: 0;
    padding: 0;
}

.option {
    display: flex;
    align-items: center;
    width: 380px;
    height: 50px;
    &:nth-child(odd) {
        background-color: $background-darker-price-card;
    }

    &:nth-child(even) {
        background-color: $background-lighted-price-card;
    }

    &_icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 59px;
        height: 50px;
    }

    &_icon {
        width: 15px;
        height: 13px;
    }
}
