@import './variables.scss';
@import './cards.scss';

html {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 100vh; 
    background-color: $background-page;
}

.amount-text-type {
    color: $text-color;
    text-align: center;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-text-type {
    color: $text-color;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.order-text-type {
    color: $text-color;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}