$backgraund-page: rgba(20, 27, 28, 1);
$backgraund-price-card: rgba(51, 66, 71, 1);
$backgraund-lighted-price-card: rgba(31, 61, 99, 0.00009999999747378752);
$backgraund-darker-price-card: rgba(42, 52, 56, 0.4998250901699066);
$backgraund-green: rgba(91, 177, 137, 1);
$backgraund-blue: rgba(58, 107, 165, 1);
$backgraund-orange: rgba(236, 99, 42, 1);
$backgraund-red: rgba(220, 63, 69, 1);
$text-color: rgba(255, 255, 255, 1);